html{
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: #131324;
  color: #fff;
  text-align: center;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  padding: 10px 20px;
  border-radius: 0 0 10px 10px;
  flex-wrap: wrap;
}
.nav-right {
  display: flex;
  align-items: center;
  gap: 8px; /* space between nav links and user icon */
}
.nav-links {
  display: flex;
  gap: 8px;
  flex: 1;
  justify-content: center;
  min-width: 0;
  flex-wrap: wrap;
}
.nav-links a {
  margin-left: 20px;
  text-decoration: none;
  font-weight: bold;
  color: white;
  transition: color 0.3s ease;
  font-size: 1.1rem;
  white-space: nowrap;
}

.nav-links a:hover {
  color: #5c5cff;
}
.brand {
  display: flex;
  align-items: center;
  max-width: 300px;
  flex-shrink: 1;
}

.brand-logo {
  width: 50px;
  height: 40px;
  object-fit: cover;
  margin-right: 10px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background-color: #2c2e43;
  backdrop-filter: blur(10px);
  position: relative;
}
.title {
  font-size: 1.8rem;
  color: #fff;
  white-space: nowrap;
  font-weight: bold;
  margin: 0 auto;
  text-align: left;
}
.welcome h2 {
  font-size: 3rem;
  margin-top: 40px;
}

.welcome p {
  margin: 0.5rem 0 2rem;
  font-size: 1.2rem;
}

.features {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 2rem auto;
  flex-wrap: wrap;
}

.card {
  background-color: #2f3049;
  padding: 1.5rem;
  border-radius: 12px;
  width: 200px;
  transition: transform 0.3s ease;
}

.zoom-hover:hover {
  transform: scale(1.1) translateY(-5px);
}

.buttons {
  margin-top: 2rem;
}

.buttons button {
  background-color: #ff5e5e;
  border: none;
  padding: 0.75rem 1.5rem;
  margin: 0 10px;
  border-radius: 10px;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.buttons button:hover {
  transform: scale(1.1) translateY(-2px);
}
