body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #0f172a;
  color: white;
}
.login-container {
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
  width: 550px;
  height: 580px;
  text-align: center;
}
.login-container h1 {
  margin-bottom: 20px;
  color: black;
}
input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 8px;
  font-size: 16px;
}
button {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  background: #38bdf8;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  color: #0f172a;
  cursor: pointer;
  transition: background 0.3s;
}
button:hover {
  background: #0ea5e9;
}

#error-msg {
  color: #f87171;
  font-size: 14px;
  margin-top: 10px;
}